body {
	width: 80%;
	max-width: 1024px;
	margin: 0 auto;
}

.title {
	text-align: center;
	text-transform: uppercase;
	color: rgb(255, 0, 0);
  }
  
.subtitle {
	text-align: center;
}

.heart {
	color: rgb(255, 0, 0);
}

.container-padding50 {
	padding-top: 50px;
}

.container-textinput {
	width: 80%;
	display: inline-block;
	padding: 20px;
	font-size: 16px;
	font-family: Helvetica, sans-serif;
}

.container-button {
	width: 10%;
	display: inline-block;
	padding: 20px;
	background-color: rgb(255, 0, 0);
	color: white;
	font-size: 16px;
	font-family: Helvetica, sans-serif;

	border: 1px solid rgb(255, 0, 0);
	border-radius: 5px;
}

.container-image {
	width: 30%;
	display: block;
	float: left;
	margin-right:3%;
}
